@font-face {
  font-family: 'Digital-7';
  src:url('./digital-7-fonts/Digital-7.ttf.woff') format('woff'),
      url('./digital-7-fonts/Digital-7.ttf.svg#Digital-7') format('svg'),
      url('./digital-7-fonts/Digital-7.ttf.eot'),
      url('./digital-7-fonts/Digital-7.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;}

*{
  margin: 0;
  padding: 0;
  line-height: 0;
  font-family: 'Digital-7';
  box-sizing: border-box;}
  
.calculatorBody{
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  border: 5px solid black;
  background-color: rgb(10 10 10);}
  
.screen{
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 5px;
  color: rgb(255,255,255);
  background-color: rgb(33 33 33);}
  
.btmScreen,
.topScreen{
  font-size: 55px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 58px;}

.topScreen{
  padding-bottom: 0px;
  padding-top: 5px;
  font-size: 23px;
  height: 25px;}

.btnContainer{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 20px;
  width: 360px;}

.numpad{
  display: flex;
  flex-wrap: wrap;}

.operatorContainer{
  display: flex;
  flex-direction: column;}

.operatorContainer > button{background-color:rgb(255 165 0);}

button{
  color: rgb(255 255 255);
  background-color:rgb(55 55 55);
  font-size: 28px;
  margin: 2px;
  width: 85px;
  height: 85px;
  border-radius: 45px;
  border: none;}

.operand[value = '0']{width: 175px;}

.funcBtn{
  background-color: rgb(140 140 140);}

button:hover{
  opacity: 0.8;
  border: 1px solid rgb(109 109 109);}

button:active{opacity: 0.4;}